<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
    <a href="{{ path('marca_index') }}" class="menu-link">
        <span class="menu-text">Marcas</span>
    </a>
</li>
