
<li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
  <a href="javascript:;" class="menu-link menu-toggle">
    <span class="menu-text">Proveedores</span>
    <i class="menu-arrow"></i>
  </a>
  <div class="menu-submenu menu-submenu-classic menu-submenu-left" data-hor-direction="menu-submenu-left">
    <ul class="menu-subnav">      
      <li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
        <a href="{{ path('proveedor_index') }}" class="menu-link">
          <span class="menu-text">Listado proveedores</span>
        </a>
      </li>
      <li class="menu-item" data-menu-toggle="click" aria-haspopup="true">
        <a href="{{ path('proveedor_new') }}" class="menu-link">
          <span class="menu-text">Alta proveedor</span>
        </a>
      </li>
    </ul>
  </div>
</li>
